* {
	box-sizing: border-box;
}
body {
	font-family: 'Poppins';
}
#container {
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}
#left {
	display: flex;
	justify-items: center;
	align-self: center;
}
#left h2 {
	font-weight: 700;
	font-size: 3em;
	margin-bottom: 10px;
}
input {
	display: block;

	border-radius: 5px;
	padding: 15px 15px;
	width: 100%;
	margin-top: 20px;
	border: 1px solid hsl(249, 10%, 26%);
}
form label {
	background: red;
}
form img {
	position: absolute;
	right: 10%;
}
.show {
	display: block !important;
}
form .firstIcon {
	top: 9%;
	display: none;
}
form .secondIcon {
	top: 27%;
	display: none;
}
form .thirdIcon {
	top: 46%;
	display: none;
}
form .fourthIcon {
	top: 64%;
	display: none;
}
input.firstName {
	margin-top: 0;
}

.error {
	border: 2px solid hsl(0, 100%, 74%) !important;
}

form small {
	display: block;
	text-align: right;
	font-style: italic;
	font-size: 12px;
	color: hsl(0, 100%, 74%);
}
form {
	width: 400px;
	position: relative;
	background-color: #fff;
	padding: 30px;
	border: 1px solid hsla(249, 10%, 26%, 0.4);
	border-radius: 10px;
	margin-top: 20px;
	box-shadow: 0 5px 1px hsla(249, 10%, 26%, 0.4);
}
form > small {
	font-weight: 400;
	font-size: 10px;
	display: block;
	margin-top: 10px;
	font-style: normal;
	color: hsla(249, 10%, 26%, 0.5);
}
form span {
	font-weight: 600;
	color: hsl(0, 100%, 74%);
}
input[type='submit'] {
	background: hsl(154, 59%, 51%);
	color: #fff;
	border: none;
	font-weight: 600;
	letter-spacing: 1px;
	width: 100%;
}
.trial {
	padding: 1px 25px;
	text-align: center;
	color: #fff;
	width: 400px;
	font-weight: bold;
	background-color: hsl(248, 32%, 49%);
	border-radius: 10px;
	box-shadow: 0 5px 1px hsla(249, 10%, 26%, 0.4);
}
.trial span {
	font-weight: normal;
}
