* {
	box-sizing: border-box;
}
body {
	font-family: 'Poppins';
}
input {
	display: block;
	border-radius: 5px;
	padding: 15px 15px;
	width: 100%;
	margin-top: 20px;
	border: 1px solid hsl(249, 10%, 26%);
}
input.firstName {
	margin-top: 0;
}

.error {
	border: 2px solid hsl(0, 100%, 74%) !important;
}

form small {
	display: block;
	text-align: right;
	font-style: italic;
	font-size: 12px;
	color: hsl(0, 100%, 74%);
}
form {
	width: 400px;
	background-color: red;
	padding: 30px;
	border-radius: 10px;
	margin-top: 20px;
	box-shadow: 0 5px 1px hsla(249, 10%, 26%, 0.4);
}
input[type='submit'] {
	background: hsl(154, 59%, 51%);
	color: #fff;
	border-style: groove;
	font-weight: bold;
	width: 100%;
}
.trial {
	padding: 1px 25px;
	text-align: center;
	color: #fff;
	width: 400px;
	font-weight: bold;
	background-color: hsl(248, 32%, 49%);
	border-radius: 10px;
	box-shadow: 0 5px 1px hsla(249, 10%, 26%, 0.4);
}
